<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PetShopWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProdutoSalvarServlet</display-name>
    <servlet-name>ProdutoSalvarServlet</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.Produto.ProdutoSalvarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoSalvarServlet</servlet-name>
    <url-pattern>/ProdutoSalvarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaTiposAnimais</display-name>
    <servlet-name>ListaTiposAnimais</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.Produto.ListaTiposAnimais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaTiposAnimais</servlet-name>
    <url-pattern>/ListaTiposAnimais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FazerPedidoServlet</display-name>
    <servlet-name>FazerPedidoServlet</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.pedido.FazerPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FazerPedidoServlet</servlet-name>
    <url-pattern>/FazerPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Carrinho</display-name>
    <servlet-name>Carrinho</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.pedido.Carrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrinho</servlet-name>
    <url-pattern>/Carrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualquerServlet</display-name>
    <servlet-name>QualquerServlet</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.Produto.QualquerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualquerServlet</servlet-name>
    <url-pattern>/QualquerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteDeleteServlet</display-name>
    <servlet-name>ClienteDeleteServlet</servlet-name>
    <servlet-class>br.unifacol.petshop.controller.servlet.cliente.ClienteDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteDeleteServlet</servlet-name>
    <url-pattern>/ClienteDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>